{% extends 'base/base.html' %}

{% block content %}
<div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=calle%20central&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Detalles de contacto</h3>
                <p>
                    C/ Central Lucerna<br>Santo Domingo Este, 6003<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (809) 849-6694</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">newdta@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Lunes - Viernes: 9:00 AM to 5:00 PM</p></p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>:Sabados: 9:00 AM to 1:00 PM</p></p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">            
            <div class="col-md-8">
                <h3>Envia tu mensaje</h3>
                <form method="post">
                    {% csrf_token %}                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nombre completo:</label>
                            {{form.Nombre_completo}}
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Telefono:</label>
                            {{form.Telefono}}
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Correo electronico:</label>
                            {{form.Correo}}
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Comentario:</label>
                            <hr>
                           {{form.Comentario}}
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                </form>
            </div>    
        </div>        
{% endblock %}