{% extends 'base/base.html' %}

{% block content %}
   <div class="row">           
            <div class="col-md-8">
                <h3>Solicitud de servicio</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nombre:</label>
                            {{form.Nombre}}                           
                            <p class="help-block"></p>
                        </div>
                    </div>
                     <div class="control-group form-group">
                        <div class="controls">
                            <label>Apellido:</label>
                            {{form.Apellido}}                             
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Seleccione del paquete:</label>
                                <select name="precios" class="form-control" required data-validation-required-message="Por favor, introduce tu telefono.">
                                    <option value="">--Por favor selecciona una opcion--</option>
                                    <option value="dog">Basico</option>
                                    <option value="cat">Plus</option> 
                                    <option value="cat">Ultra</option>                                   
                                </select>                            
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Correo electronico:</label>
                            {{form.Correo}}
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Telefono:</label>
                            {{form.Telefono}}
                        </div>
                    </div>
                    <div class="control-group form-group hide">
                        <div class="controls">
                            <label>Fecha:</label>
                            {{form.Fecha}}                            
                        </div>
                    </div>                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Comentario:</label>
                            {{form.Comentarios}}                            
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                </form>
            </div>    
        </div> 
{% endblock %}